<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jpabook.jpashop.repository.MemberMapper">

    <resultMap id="MemberResultMap" type="jpabook.jpashop.domain.Member">
        <id property="id" column="member_id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/> <!-- 로그인 기능용 -->
        <association property="address" javaType="jpabook.jpashop.domain.Address">
            <result property="city" column="city"/>
            <result property="street" column="street"/>
            <result property="zipcode" column="zipcode"/>
        </association>
    </resultMap>

    <insert id="save" parameterType="jpabook.jpashop.domain.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, password, city, street, zipcode)
        VALUES (#{name}, #{password}, #{address.city}, #{address.street}, #{address.zipcode})
    </insert>


    <select id="findById" parameterType="Long" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE member_id = #{id}
    </select>

    <select id="findByName" parameterType="String" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE name = #{name}
    </select>

    <select id="findAll" resultMap="MemberResultMap">
        SELECT *
        FROM member
    </select>


</mapper> 